.header, .main, .nav , .advertise, .footer, .sidebar{
    background-color: burlywood;
    border: 2px solid tomato;
    padding: 20px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;

}
.main{
    grid-area: main;
}
.advertise{
    grid-area: advertise;
}
.sidebar{
 grid-area: sidebar;

}
.footer{
    grid-area: footer;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav    main   main   sidebar"
    "nav    main   main   advertise"
    "footer footer footer footer"
    ;
}